@using OHYModel;
@model OHYModel.CompanyProfile
@*@model IEnumerable<OHYModel.CompanyProfile>*@

@{
    ViewBag.Title = "Index";
    string[] languages = Enum.GetNames(typeof(LanguageEnum));
}
<link href="~/Content/css/ohyStyle.css" rel="stylesheet" />
<style>
    ul li label {
        width: 10%;
        text-align: left;
    }

    input {
        width: 90%;
    }
</style>
<h2>联系信息:</h2>
<form method="post" enctype="multipart/form-data" action="/CompanyProfile/Index">
    <section>
        <ul>
            <li>

                语言：
                <select id="language" name="language">
                    @foreach (string language in languages)
                    {
                        <option @(Model.Language.ToString() == language ? "selected" : "") value="@((int)Enum.Parse(typeof(LanguageEnum),language))">@language</option>
                    }
                </select>
            </li>
            @foreach (var item in Model.Note)
            {
                if (item != "")
                {
                    <li>
                        <input type="text" name="note" value="@item">
                    </li>
                }

            }
            <li style="text-align:center;">
                <input type="button" value="保存" onclick="Save()" style="width:250px;height:30px;" />
                <input type="button" value="添加" onclick="Add(this)" style="width:250px;height:30px;" />
            </li>
        </ul>
        @Html.HiddenFor(model => model._id)
    </section>
    <script type="text/javascript">
        function Save() {
            var note = $("input[name='note']").val();
            if (note == "") {
                alert("输入标题为空，或都是空格");
                return false;
            }
            $("form").submit();
        }
        function Add(obj) {
            var tr = $("input[name='note']").last().parent();
            tr.after(tr.clone());
            var str = $("input[name='note']").last().val("");
            $("form").submit();
        }
        $("#language").change(function () {
            var lan = $("#language").val();
            window.location = "/CompanyProfile/index?language=" + lan;
        });

    </script>
</form>


