
@{
    ViewBag.Title = "首页图片";
}
@using OHYModel;
@model FriendlyLink
<form action="FriendlyLinkUpdate" method="post" enctype="multipart/form-data">
    <section>
        <ul>
            <li>
                <label>语言：</label>
                <select name="language">
                    <option @(Model.Language == LanguageEnum.中文 ? "selected" : "") value="@LanguageEnum.中文">@LanguageEnum.中文</option>
                    <option @(Model.Language == LanguageEnum.English ? "selected" : "") value="@LanguageEnum.English">@LanguageEnum.English</option>
                </select>
            </li>
            <li>
                <label>封面：</label> <input type="file" name="file" /><img src="@Model.Path" style="width:20%;height:20%;margin-top:5px;" />
            </li>
            <li>
                <label>网址</label><input type="text" name="wangzhi" />
            </li>
            <li>
                <input type="button" value="保存" onclick="Save()"  class="but80"/>
                <input type="button" value="返回" class="but80" />
                <input type="button" value="删除" class="but80" />
            </li>
        </ul>
        @Html.HiddenFor(model => model._id)
    </section>
    <script>

        $("input[name='back']").click(function () {
            window.location = "/FriendlyLink/index";
        });
        function Save() {
            if ($("input[name='file']").val() == "") {
                alert("请选择文件");
                return false;
            }
            $("form").submit();
        }
        $("input[name='delete']").click(function () {
            $.ajax({
                type: "GET",
                url: "/FriendlyLink/Delete",
                data: { "id" :"@Model._id"},
                success:function(data)
                {
                    window.location = "/IndexImageList/index";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    alert("删除失败！");
                }
            });
        });
    </script>
</form>

