
@{
    ViewBag.Title = "友情链接显示";
}
@using OHYModel;
@model List<FriendlyLink>
<link href="~/Content/css/ohyStyle.css" rel="stylesheet" />
<section>
    <ul>
        <li>
            <label>语言：</label>
            <select id="language" name="language">
                <option @(LanguageEnum.中文 == Language ? "selected" : "") value="@LanguageEnum.中文">@LanguageEnum.中文</option>
                <option @(LanguageEnum.English == Language ? "selected" : "") value="@LanguageEnum.English">@LanguageEnum.English</option>
            </select>
            <a href="/FriendlyLink/index">新增</a>
        </li>

    </ul>
    <ul>
        <li>
            @foreach (var par in Model)
            {
                @*<li>
                        <label>轮播图：</label><img src="@par.file" style="width:40%;height:60px;"/>
                        <a href="/IndexImageUpdate/index?id=@par._id">修改</a>
                    </li>*@
                <a href="/FriendlyLink/FriendlyLinkUpdate?id=@par._id">
                    <img src="@par.Path" />
                 
                </a>
               
            }
        </li>
    </ul>
</section>
<script>
    $("#language").change(function () {
        var lan = $("#language").val();
        window.location = "/FriendlyLink/index?language=" + lan;
    });
</script>

