
@{
    ViewBag.Title = "产品中心";
}
@using OHYModel;
@model Product
<h2>@ViewBag.Title</h2>
<form action="index" method="post" enctype="multipart/form-data">
    <section>
        <ul>
            <li>
                <label>语言：</label>
                <select name="language">
                    <option @(Model.Language == LanguageEnum.中文 ? "selected" : "") value="@LanguageEnum.中文">@LanguageEnum.中文</option>
                    <option @(Model.Language == LanguageEnum.English ? "selected" : "") value="@LanguageEnum.English">@LanguageEnum.English</option>
                </select>
            </li>
            <li><img src="@Model.Cover" style="width:20%;height:20%" /></li>
            <li>
                <label>封面：</label> <input type="file" name="fileimg" />
            </li>
            <li>
                图片名字：<input type="text" name="imgnames" />
            </li>
            <li>
                <label>pdf：</label> <input type="file" name="filepdf" />
            </li>
         
            <li>
                <input type="button" value="保存" onclick="Save()" class="but80"/>
                <input type="button" value="返回" name="back" class="but80"/>
                <input type="button" value="删除" name="delete"  class="but80"/>
            </li>
        </ul>
        @Html.HiddenFor(model => model._id)
    </section>
    <script>

        $("input[name='back']").click(function () {
            window.location = "/ProductList/index";
        });
        $("input[name='delete']").click(function () {
            $.ajax({
                type: "GET",
                url: "/ProductUpdate/Delete",
                data: { "id" :"@Model._id"},
                success:function(data)
                {
                    window.location = "/ProductList/index";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    alert("删除失败！");
                }
            });
        });
        function Save() {
            if ($("input[name='fileimg']").val() == "") {
                alert("请选择文件");
                return false;
            }
            if ($("input[name='filepdf']").val() == "") {
                alert("请选择文件");
                return false;
            }
            $("form").submit();
        }

    </script>
</form>
