@using OHYModel;
@model IEnumerable<OHYModel.HomeText>
@{
    ViewBag.Title = "Index";
    string[] languages = Enum.GetNames(typeof(LanguageEnum));
}
<h2>首页文字</h2>
<div style="margin-top:30px;">
    <table class="table table-bordered text-center">
        语言：
        <select id="language" name="Language">
            @foreach (string language in languages)
            {
                <option @(Language.ToString() == language ? "selected" : "") value="@((int)Enum.Parse(typeof(LanguageEnum),language))">@language</option>
            }
        </select><a href="/HomeText/Add">新增</a>
            <thead>
                <tr>

                    <th style="text-align:center">标题</th>
                    <th style="text-align:center">内容</th>
                    <th style="text-align:center">操作</th>
                </tr>
            </thead>
            <tbody>
             @foreach (var p in Model)
            {
                    <tr>

                        <td>@p.Title</td>
                        <td style="width:500px">@p.Content</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { HomeText_ht = p._id })
                        </td>
                    </tr>
                }
            </tbody>
</table>
</div>
@Html.Partial("PageView")