
@{
    ViewBag.Title = "Add";
}
@model OHYModel.PerformancePresentation
<h2>业绩展示</h2>
<form method="post" enctype="multipart/form-data" action="/PerformancePresentation/Add">
    <section>
        <ul>
            <li>
                <label>语言：</label>
                <select id="Language" name="Language">
                    <option value="@OHYModel.LanguageEnum.中文">@OHYModel.LanguageEnum.中文</option>

                    <option value="@OHYModel.LanguageEnum.English">@OHYModel.LanguageEnum.English</option>
                </select>
            </li>
            <li><label>项目时间：</label><br />@Html.TextBoxFor(m => m.EntryTime)</li>
            <li><label>项目名称：</label><br />@Html.TextBoxFor(m => m.EntryName)</li>
            <li><label>项目业主/总包方：</label><br /> @Html.TextBoxFor(m=>m.CompanyName)</li>
           
            <li><input type="submit" name="save" value="保存" class="but200" /><input type="button" value="返回" name="back" class="but200" /></li>
        </ul>
    </section>
    <script>
        $("input[name='back']").click(function () {
            window.location = "/PerformancePresentation/index";
        });
    </script>
</form>
