@model OHYModel.PerformancePresentation
@{
    Layout = null;
}

<h2>Delete</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table style="width:40%;border:1px solid #0094ff;border-collapse:collapse;">
                <thead>
                    <tr>
                        <th style="border:1px solid #0094ff;">项目时间</th>
                        <th style="border:1px solid #0094ff;">项目名称</th>
                        <th style="border:1px solid #0094ff;">项目业主/总包方</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border:1px solid #0094ff">
                            @Html.TextBoxFor(p => p.EntryTime)
                        </td>
                        <td style="border:1px solid #0094ff">
                            @Html.TextBoxFor(p => p.EntryName)
                        </td>
                        <td style="border:1px solid #0094ff">
                            @Html.TextBoxFor(p => p.CompanyName)
                        </td>
                    </tr>

                </tbody>
            </table>
            <button type="submit">Delete</button>
            <input type="hidden" name="Id" value="@Model._id" />

        }
        @Html.ActionLink("Go Back List", "Index");
    </div>
</body>
</html>
